/cmd/** linguist-generated=true
/internal/** linguist-generated=true
/USAGE.md linguist-generated=true
/go.mod linguist-generated=true
/go.sum linguist-generated=true
/.speakeasy/gen.lock linguist-generated=true
/.speakeasy/workflow.lock linguist-generated=true
/.speakeasy/out.openapi.yaml linguist-generated=true
/.speakeasy/gen.yaml linguist-generated=false
/.speakeasy/workflow.yaml linguist-generated=false
/.speakeasy/patches/** linguist-generated=false whitespace=-trailing-space
/.github/** linguist-generated=false
/.github/workflows/release.yaml linguist-generated=true
/scripts/** linguist-generated=true
/.gitattributes linguist-generated=false
/.genignore linguist-generated=false
/.goreleaser.yaml linguist-generated=true
/README.md linguist-generated=false
/CONTRIBUTING.md linguist-generated=false
/LICENSE linguist-generated=false
/release-signing-key.asc linguist-generated=false
